@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backGroundHome {
  background-image: url("assets/images/Wallpaper.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.backGroundFolder {
  background-image: url("./assets/images/folderwallpaper.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.backGroundFolderNotification {
  background-image: url("./assets/images/folderNotif.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

* {
  -o-user-select: none; /* Safari */
  -moz-user-select: none; /* Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.noScroll {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
.noScroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.controlSlider .MuiSlider-thumb {
  display: none;
}
